.stats {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    left: 5px;
   border: 1px solid aliceblue;
    position: absolute;
    
}
